*{
    box-sizing: border-box;
    font-family: Averta, sans-serif;
    /*overflow: hidden;*/
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #0000;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

.first-container{
    height: 800px;
    background-image: url("hero-bg.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.center-image {
    margin: auto;
    display: flex;
    width: 50%;
    padding-top: 69px;
    margin-bottom: 69px;
}

.center-image img {
    margin: auto;
}

.logo-img {
    margin-top: 69px;
    margin-left: 100px;
    margin-bottom: 143px;
}

.block-1 {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
  
.block-1 h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
}

.block-1 p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

a {
    color: #E7332B;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #eb5850;
}

.btn-1 {
    margin-top: 92px;
    display: block ruby;
  }

.btn-2 {
    padding: 11px 28px;
    border: 1px solid #E7332B;
    background-color: #E7332B;
    color: #fff;
    margin-right: 24px;
    width: 35%;
}

.btn-2:hover {
    background-color: #fff;
    color: #E7332B;
}

.red-1 {
    background-color: #fff;
    color: #E7332B;
}

.red-1:hover {
    background-color: #E7332B;
    color: #fff;
}

.block-2 {
    display: block !important;
}

.block-3 {
    max-width: 1440px !important;
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    padding-top: 0 !important;
}

.text-div{
    text-align:center!important
}

section.programs {
    background-color: #fff;
    overflow: hidden;
    display: block;
}
section{
    display: block;
}

.program-content {
    padding-top: 0 !important;
}
.heading{
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
}
.program-content .heading {
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
}
.program-content p.motto {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.my-container {
    max-width: 1240px !important;
}

.colum {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width:992px){
    .colum{
        -ms-flex:0 0 33.333333%;
        flex:0 0 33.333333%;
        max-width:33.333333%
    }
}
.alert-heading{
    color:inherit
}

.what-we-do {
    width: 100%;
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
    text-align: justify-all;
}

.what-we-do-zed {
    position: relative;
    z-index: 1;
    text-align:center!important;
}
.text-left {
    text-align: left !important;
}  
img.card-bg-svg-1 {
    width: 100%;
    position: absolute;
    left: -120px;
    top: -75px;
    z-index: -1;
}

img.card-bg-svg-2 {
    width: 90%;
    position: absolute;
    right: -120px;
    top: -75px;
    z-index: -1;
    display:block!important
}

.what-we-do img {
    margin-bottom: 48px;
}

.what-we-do p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.what-we-do h3 a {
    font-size: 16px;
    line-height: 24px;
    color: #E7332B;
    opacity: 0.9;
}

.footer {
    margin-top: 215px;
}

.footer-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
}

.footer h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
}

.quick-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quick-links a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}

.contact p,
.address p {
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}

.contact-icons img {
    width: 18px !important;
    margin-right: 5px;
}


footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}
